<h1> Director <%= @this_director.id %> details </h1>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @this_director.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
     <%= @this_director.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
     <%= @this_director.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    < <%= @this_director.image %>>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
     <%= time_ago_in_words(@this_director.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
     <%= time_ago_in_words(@this_director.updated_at) %> ago
  </dd>
</dl>

<h1> Filmography </h1>

  <% @filmography%> 
  <table border="1">
    <% @filmography.each do |film| %>
      <tr>
          <td><% film.id %></td>
          <td><img src ="http://robohash.org/<%=film.title%>"></td>
          <td><%= film.title %></td>
          <td><%= film.year %></td>
          <td><%= @this_director.name %></td>
          <td> <a href="/movies/<%=film.id%>"> Show details </a></td>
          
        </tr>
    <% end %>
  </table >